@using ES.Web.Areas.EsAdmin.Models
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">Reset Password</h6>
                    <hr>
                    <form method="post" asp-controller="Users" asp-action="ResetPassword">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />

                        <div class="row g-3">

                            <div class="col-md-6">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Enter password" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}