

#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
    width: auto;
    line-height: 1;
    margin-top:0px;	
    float:left;
}

#menu-line {
  position: absolute;
  left: 0;
  bottom:0;
  height: 0px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
    float: none;
    display: inline-block;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding:40px 14px;
  font-size:16px;
  text-decoration: none;    
  text-transform: capitalize;
  color: #323232;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  font-weight:600;
}

#cssmenu > ul > li.active > a {
  color:#0361af;
}
#cssmenu > ul >li:hover > a {
  color: #0361af;
}


#cssmenu > ul > li.has-sub > a {
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-bottom: 0px solid #E1E1E1;
  border-right: 0px solid #E1E1E1;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #092539;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:99999
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;    
  width: 100%;
}
#cssmenu ul li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul li a {
  padding:10px 10px;
  width: 230px;
  font-size: 15px;
  background: #032241;
  border-top:1px #ffffff33 solid;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}


#cssmenu ul ul li a:hover {
  color:#fff;
  background:#0361af;
}

#cssmenu ul ul li:hover > a {
  color:#fff;
  background:#0361af;
}


#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #435090;
  border-right: 1px solid #435090;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}








@media all and (max-width: 991px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 766px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 766px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 766px), only screen and (min-device-pixel-ratio: 2) and (max-width: 766px), only screen and (min-resolution: 192dpi) and (max-width: 766px), only screen and (min-resolution: 2dppx) and (max-width:766px) {
  
  
  #cssmenu {
    width: 100%;
    float:none;
    margin-top:0;
  }
  #cssmenu ul {
    width: 100%;
    display: none ;    
    position: absolute;
    z-index: 999;
    background-color:#fff;
    margin-top:23px;
  }
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(90, 90, 90, 0.19);
  }
  #cssmenu ul ul li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(90, 90, 90, 0.19);
  }
  #cssmenu ul li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(90, 90, 90, 0.19);
  }
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu ul li a {
    width: 100%;
  }
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu.align-center > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    background: none;
    color: #6e6e6e;
    border-top: 0px #3c7dc4 solid;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
    top:0;
  }
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #cssmenu > ul > li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
        display: block;
        padding: 25px 23px;
        color: #fff;
        cursor: pointer;
        background-color: #032241;
        position: absolute;
        right: 0;
        top: -55px;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 2px;
  }

  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 12px;
    right:11px;
    display: block;
    width: 24px;
    height: 3px;
    background: #fff;
      }
  
#cssmenu > ul > li > a {
    padding: 12px !important;    
    text-transform:capitalize;
    color:#6472b6;

}
      

  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 22px;
    right: 11px;
    display: block;
    width: 24px;
    height: 12px;
    border-top:3px solid #fff;
    border-bottom: 3px solid #fff;
}

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(159, 159, 159, 0.3);
    height: 36px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #ccc;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 20px;
    display: block;
    width: 11px;
    height: 1px;
    background:#ccc;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}


