@model PageViewModel

<div class="col-md-2">
</div>

<div class="col-md-8">
    <!--gallery-->
    <div class="gallery">

        @foreach (var image in Model.GalleryImages!)
        {
            <img src="~/images/Pages/GalleryImages/@image.GalleryImageUrl" alt="@image.GalleryImageUrl" />
        }

    </div>
</div>
<div class="col-md-2">
</div>