@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
[data-toggle=modal], button i {
  position: relative;
	text-align: right;
}

button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
[data-toggle=modal] {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  z-index: 99;
  transition: all 0.3s ease;
}
[data-toggle=modal] i {
  font-size: 2rem;
}
[data-toggle=modal]:focus {
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: translateY(1rem) translateZ(0);
  transition: all 0.3s ease;
}
.modal.active {
  visibility: visible;
  transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 999;
  visibility: visible;
	display: block;
}
.modal.active .content {
  opacity: 1;
  visibility: visible;
}
.modal [data-dismiss=modal] {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}
.modal [data-dismiss=modal]:focus i {
  color: #0288D1;
}
.modal [data-dismiss=modal] i {
  font-size: 2rem;
}
.modal [data-dismiss=modal] span {
  display: block;
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.5rem;
  transform: translateY(1.1rem);
}
.modal .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.3s;
}
.modal .content.show-tag-results > div.results {
  visibility: hidden;
  transform: translateX(-100%);
}
.modal .content.show-tag-results > div.tag-results {
  visibility: visible;
  transform: translateX(0);
}
.modal .content > div {
  position: absolute;
  width: 100%;
  top: 8rem;
  left: 0;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.modal .content > div.results {
  visibility: visible;
  transform: translateX(0);
}
.modal .content > div.tag-results {
  visibility: hidden;
  transform: translateX(100%);
}
.modal h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 0.75rem;
  margin-top: 0;
}
.modal input {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #0288D1;
  border-width: 0 0 1px 0;
  color: white;
  padding: 1.5rem 0;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Roboto";
}
.modal input:focus {
  outline: none;
}
.modal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal ul li {
  position: relative;
  color: #949494;
  font-size: 1.15rem;
  padding: 0.75rem 0.5rem 0.75rem 1.75rem;
  cursor: pointer;
}
.modal ul li:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 0.5rem;
  margin-top: -4px;
  display: block;
  height: 8px;
  width: 8px;
  border: 2px solid white;
  border-radius: 100%;
}
.modal ul li:hover, .modal ul li:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
.modal ul + h2 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
  margin-top: 1rem;
}
.modal .tag-results .selected-tag {
  display: block;
  position: absolute;
  left: 3rem;
  background: #0288D1;
  color: white;
  padding: 0.5rem 1rem;
}
.modal .tag-results > ul {
  margin-left: 35%;
  width: 60%;
}
.modal .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
}
.modal .back i {
  font-size: 1.5rem;
}
.modal ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 100;
}
.modal :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 100;
}
.modal ::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 100;
}

.material-icons {
  color: white;
}