.news-ticker
{
    background: #032241; 
    margin-top:2px;
 
}


.content2 {
	display: block;
	overflow: hidden;
	margin: 0 auto;

}

.container1 {
	width: 100%;
	float: right;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 48px;
	position: relative;
	cursor: pointer;
}

.marquee-sibling {

    padding: 0;
    background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top, #4866b0 0%, #4a62a9 47%, #5e74b7 55%, #6a80be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4866b0 0%,#4a62a9 47%,#5e74b7 55%,#6a80be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4866b0 0%,#4a62a9 47%,#5e74b7 55%,#6a80be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4866b0', endColorstr='#6a80be',GradientType=0 ); /* IE6-9 */


	padding: 0;
    width: 155px;
    height: 38px;
    border-left: 1px #fff solid;
    line-height: 42px;
    font-size: 20px;
    font-weight:  normal;
	color: #FFF;
	text-align: center;
	float:right;
	right: 0;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding:7px 0 0 0 ;
  margin: 0;
  height: 48px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  color: #fff;    
  font-size: 14px;
  padding: 5px 20px;
  background:url('../images/dot-logo.png') no-repeat scroll right center;
  background-size:contain;
}

.marquee-content-items li:after{
	content: "";
	margin: 0 1em;
}
