/* Table Styling */
.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: none;
}

    .custom-table th,
    .custom-table td {
        padding: 12px 16px;
        border-bottom: 1px dashed #ddd;
    }

    .custom-table thead th {
        background-color: #f9f9f9;
        font-weight: bold;
        text-transform: uppercase;
        color: #666;
    }

    .custom-table tbody tr:hover {
        background-color: #f7f7f7;
    }

/* Hover effect for icons */
.hover-scale {
    font-size: 1.9rem;
    transition: transform 0.2s;
    cursor: pointer;
}

.hover-scale:hover {
      transform: scale(1.5);
    }
