.counter-bg {
  padding:90px 10px 55px 10px;
}

.level {
  margin: 0 ;
  text-align:center;
}

.level-item
{
	display:inline-block;
	background:url('../images/counter-bg.png') no-repeat scroll center center;
	width:255px;
	position:relative;
	height:201px;
	padding:90px 0 20px 0;
	margin:20px 10px;
}
.level-item .icon
{
    margin: auto;
    height:114px;
    width: 114px;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    top: -45px;
    padding: 15px;
    border-radius: 150px;
    border: 15px solid #4eaaa9;
}


.level-item .icon img
{
    margin: auto;
    height: 64px;
    width: 54px;
    object-fit: contain;
}


.heading
{
	font-size: 16px;
    color: #373737;
    font-weight: 400;
    text-transform: capitalize;
    margin:0;
    text-align:center;
    padding: 10px 15px;
}

.title-counter {
    color:  #4eaaa9;
    font-size: 35px;
    padding:5px 0;
    text-align: center;
    font-weight: 700;
    margin:0;    
    line-height: 30px;
}