@model MenuViewModel

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    var currentCulture = CultureInfo.CurrentCulture.Name;
    var supportedCultures = LocOptions.Value.SupportedUICultures;
    var returnUrl = Url.Content("~") + Context.Request.Path + Context.Request.QueryString;

    // Determine the culture to switch to (toggle between en-US and ar-JO)
    string targetCulture = currentCulture == "en-JO" ? "ar-JO" : "en-JO";
    // Display the opposite culture's name
    string languageTitle = currentCulture == "en-JO" ? "عربي" : "English";
    var path = Context.Request.Path.Value?.Trim('/').ToLower();
    var isHome = string.IsNullOrEmpty(path);
}



<div id='cssmenu'>
    <ul>
        @foreach (var menuItem in Model.MenuItems)
        {
            <li class="@(menuItem.Children.Any() ? "has-sub" : "")">

                <a href="@(menuItem.Type == "Page"
                                                                                  ? Url.Action("Index", "Page", new { slug = menuItem.Url })
                                                                                  : menuItem.Type == "Category"
                                                                                      ? Url.Action("Index", "Categories", new { slug = menuItem.Url })
                                                                                      : menuItem.Url)" target="@menuItem.Target">

                @menuItem.Title
            </a>
            @if (menuItem.Children.Any())
                {
                    <ul>
                        @await Html.PartialAsync("_MenuItemChildren.cshtml", menuItem.Children)
                    </ul>
                }
            </li>
        }

     @*    <main class="main-wrap">
            <header class="codrops-header">
                <div class="search-wrap">
                    <a asp-controller="Search" asp-action="Index" class="btn btn--search">
                        <img alt="Search" src="~/WebSite/images/search.png">
                    </a>
                </div>
            </header>
        </main> *@
       @*  <li>
            <a href="javascript:void(0)"
               onclick="submitLanguageToggle('@targetCulture', '@returnUrl')"
               class="language">
                @languageTitle
            </a>
        </li> *@
    </ul>
</div>

@* <div class="header">
    <div class="container-fluid wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="row">

            <div class="col-md-3">
                <div class="logo">
                    <a href="~/"><img src="~/WebSite/images/logo.png" class="img-responsive"></a>
                </div>
            </div>

            <div class="col-md-8">
               

                <!-- Hidden Form for Language Toggle -->
                <form id="languageToggleForm"
                      method="post"
                      asp-controller="Language"
                      asp-action="SetLanguage"
                      style="display: none;">
                    <input type="hidden" name="culture" id="languageCulture" />
                    <input type="hidden" name="returnUrl" id="languageReturnUrl" />
                </form>



            </div>

            <!--search-->
            <div class="col-md-1 mobile-z">
                <main class="main-wrap">
                    <header class="codrops-header">
                        <div class="search-wrap">
                            <a asp-controller="Search" asp-action="Index" class="btn btn--search">
                                <img alt="Search" src="~/WebSite/images/search.png">
                            </a>
                        </div>
                    </header>
                </main>
            </div>

        </div>
    </div>
</div> *@



<script>
    function submitLanguageToggle(culture, returnUrl) {
        document.getElementById('languageCulture').value = culture;
        document.getElementById('languageReturnUrl').value = returnUrl;
        document.getElementById('languageToggleForm').submit();
    }
</script>


